h1 {
    font-size: 24px;
}

.show-forecast {
    text-align: center;

    .country {
        display: inline-block;
        margin-right: 40px;
    }

    .city {
        display: inline-block;
        margin-right: 40px;
    }

    .overall {
        display: inline-block;
        margin-right: 40px;
    }

    .degrees {
        display: inline-block;
        margin-right: 40px;
    }
}