.weather-card {
    margin: auto;
    width: 500px;

    .title {
        margin-top: 15px;
        margin-left: 25px;
    }

    .location {
        font-size: 22px;
        font-family: -apple-system, serif;
        font-weight: bold;
    }

    .info {
        margin-left: 30px;
        margin-bottom: 25px;
    }

    .degrees {
        flex-direction: row;
        position: absolute;
        top: 240px;
        margin-left: 300px;
        font-size: 72px;

        .overall-weather {
            font-size: 20px;
            text-align: right;
        }
    }
}
