.App {

    .change-location {
        text-align: center;

        .title {
            margin-top: 25px;
            text-align: center;
            font-size: 32px;
            font-family: sans-serif;
        }

        .change-button {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background-color: #f6f6f6;
    padding: 4px;
    border-radius: 5px;

    .title-modal {
        font-family: sans-serif, sans-serif;
        margin-top: 15px;
        text-align: center;
        font-size: 34px;

        .modal-close-button {
            margin-right: 10px;
            float: right;
            min-width: 0;
            width: 20px;
            height: 20px;
            line-height: 0;
        }

        .close-image {
            height: 20px;
        }
    }

    .inputs {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;

        .city {
            margin-left: 20px;
        }
    }

    .alert-message {
        margin-top: 20px;
        text-align: center;
    }

    .search-button {
        text-align: right;
        margin-bottom: 25px;
        margin-right: 30px;
    }
}