.App {

    .not-found {
        margin-top: 25px;
        text-align: center;

        .button-home {
            margin-top: 25px;
        }
    }

    .statistic-page {
        margin-top: 40px;

        .buttons-group {
            display: flex;
            flex-direction: row;
        }

        .title-statistic {
            text-align: center;
        }

        .statistic-diagram {
            width: 1000px;
            display: table;
            margin: 30px auto;
        }

        .buttons-group {
            margin-top: 20px;
            margin-bottom: 20px;

            .filter-statistic {
                margin-top: 10px;
                margin-left: 150px;
            }

            .date-statistic {
                margin-top: 10px;
                margin-left: 100px;
            }

            .get-statistic {
                text-align: center;
                margin-left: 100px;

                .search-statistic-button {
                    margin-top: 5px;
                    margin-left: 15px;
                }
            }
        }
    }
}